<h1 class="text-center">Eat Da Burger!</h1>

<div class="container">
  <div class="row">
    <div class="col text-center">
      <form>
        <p>
          <label class="form-label" for="burger"></label>
          <input class="form-control text-center" type="text" name="burger" id="burger" placeholder="Insert Burger Name">
        </p>
        <p>
          <button type="button" class="btn btn-dark" id="addBurger"><i class="fas fa-plus-circle"></i> Create
            Burger</button>
        </p>
      </form>
      <h6>(Click on burger created to devour | Click on burger devoured to delete from list)</h6>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <h3>Created Burgers</h3>
      <hr>
      {{#each burgers}}
      {{#unless this.devoured}}
      <p class="devoured" data-id="{{this.id}}">{{ this.burgerName }}</p>
      {{/unless}}
      {{/each}}
    </div>
    <div class="col-md-6">
      <h3>Devoured Burgers</h3>
      <hr>
      {{#each burgers}}
      {{#if this.devoured}}
      <p class="delete" data-id="{{this.id}}">{{ this.burgerName }}</p>
      {{/if}}
      {{/each}}
    </div>
  </div>
</div>